html {
    scroll-behavior: smooth;
}

.container {
    height: 140vh;
    min-width: 100%;
    background-color: #ffffff;
}

@media only screen and (max-width: 600px) {
    .container {
        height: 270vh;
    }
}

.grid-auto-cols {
    grid-template-columns: auto auto;
}

#navbar {
    transform: translateY(-100%);
}

.nav-container:hover #navbar {
    transform: translateY(0);
}